/** Basic Portfolio **/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    margin: 0;
    padding: 0;
    /* width: 960px; */
}

header {
    width: 960px;
    background-color: #fff;
    border-color: #ccc;
    padding: 20px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: Bold;
}

h1 {
    background-color: #4aaaa5;
    color:white;
    font-size: 24px;
    font-style: Bold;
    /* width: 960px; */
    float: left;
    padding: 20px;
}

nav {
    font-size: 14px;
    color: #888;
    float: right;
    padding: 20px;
    /* display: inline-block; */
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

l1 {
    float: left;
    display: inline-block;
    text-align: center; */
/* } */

/* li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* li a:hover {
    background-color: #4aaaa5; */

h2 {
    clear: both;
    color: #4aaaa5;
    font-size: 22px;
    font-style: bold;
    background-color: white;
    padding: 20px;
}

h3 {
    clear: both;
    color: #4aaaa5;
    font-size: 18px;
    background-color: white;
    padding: 20px;

}

/* content {
    width: 960px;
    margin: 10px;
    padding: 20px;
} */

aside {
    float: left;
    padding: 20px;
    width: 300px;
    border: 1px #fff;
    /* text-align: center; */
}

aboutme {
    width: 630px;
    float: left;
    margin-bottom: 20px;
    overflow: inline;
}

img {
    float: left;
    margin: 0px 10px 10px 10px;
}

p {
    display: inline;
    padding: 10px;
    margin: 20px;
    line-height: 1.5;
    /* float: left; */
    overflow: auto;
}

footer {
    clear: both;
    margin-top: 20px;
    padding: 20px;
    border-top: #4aaaa5 100px;
    background-color: #666;
    color: white;
    text-align:center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 650px; /* Partial width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    /* float: left; */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: left; */
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
    /* Float: left; */
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* float: left; */
}