/** Basic Portfolio **/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    text-align: center;
    margin: 0;
    padding: 0;
   
}
.container {
    width:960px;
    background-color: #fff;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

firstline {
    /* width: 960px;
    background-color: #fff; */
    border-color: #ccc;
    padding: 20px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: Bold;
}

h1 {
    background-color: #4aaaa5;
    color:white;
    font-size: 24px;
    font-style: Bold;
    /* width: 960px; */
    float: left;
    padding: 20px;
}

nav {
    font-size: 14px;
    color: #888;
    float: right;
    padding: 20px;
    width: 270px;
      /* display: inline-block; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    /* overflow: hidden; */
}

l1 {
    /* float: left; */
    display: inline-block;
    float: left;
    /* text-align: center; */
}

li a {
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
} 

/* li a:hover {
    background-color: #4aaaa5; */

h2 {
    clear: both;
    color: #4aaaa5;
    font-size: 22px;
    font-style: bold;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    margin: 20px 20px 20px 0px;
    padding: 20px 20px 10px 20px;
}

h3 {
    clear: both;
    color: #4aaaa5;
    font-size: 18px;
    background-color: white;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #ddd;

}



.mainbody {
    /* width: 960px; */
    background-color: lightgrey;
   
}

aside {
    overflow: inline;
    float: left;
    margin-left: 20px;
    /* padding: 20px; */
    width: 270px;
    height: 175px;
    border: 1px #fff;
    background-color: #fff;
    /* text-align: center; */
}

#aboutme {
    clear: both;
    width: 630px;
    float: left;
    margin-bottom: 20px;
    padding: 20px; 
    overflow: inline;
    /* border-bottom: 1px #666; */
    background-color: #fff;
    text-align: left;
}

section {
    background-color: #fff;
}

img {
    float: left;
    margin: 0px 10px 10px 10px;
    /* margin: 20px; */
    background-color: #fff;
}

#social {
    /* border-top: 5px #000; */
    padding: 20px 10px 20px 10px;
    margin: 0px;
}

p {
    display: inline;
    /* padding: 20px; */
    /* margin-top: 20px; */
    line-height: 1.5;
    /* padding: 20px; */
    /* float: left; */
    overflow: auto;
    margin: 0px 20px 20px 20px;
}

footer {
    clear: both;
    margin-top: 20px;
    padding: 20px;
    border-top: #4aaaa5 100px;
    background-color: #666;
    color: white;
    text-align:center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 570px; /* Partial width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* Margin-left: 20px; */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    /* float: left; */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: left; */
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
    /* Float: left; */
    clear: both;
}

/* Add a background color and some padding around the form */
form {
    width: 630px;
    text-align: left;
    /* margin-left: 10px; */
   


    /* border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; */
    /* float: left; */
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    width: 275px;
    height: 30px;
    font-style: bold;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
    position: absolute;
    margin-left: 10px;
    top: 160px;
}

#photo1 {
    position: relative;
    width: 100%;    
}

#photo2 {
    position: relative;
    top: 160px;
    margin-left: 300px;
    width: 100%;  
    overflow: inline; 

}

#photo3 {
    position: relative;
    top: 160px;
    /* margin-left: 300px;
    width: 100%;  
    overflow: inline;  */

}

#photo4 {
    position: relative;
    top: 160px;
    margin-left: 300px;
    width: 100%;  
    overflow: inline; 

}

#photo5 {
    position: relative;
    top: 160px;
    /* margin-left: 300px;
    width: 100%;  
    overflow: inline;  */

}